<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>COMECO</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RegistServlet</display-name>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetNewRecruitServlet</display-name>
		<servlet-name>GetNewRecruitServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetNewRecruitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNewRecruitServlet</servlet-name>
		<url-pattern>/GetNewRecruitServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetTopUsersServlet</display-name>
		<servlet-name>GetTopUsersServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetTopUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopUsersServlet</servlet-name>
		<url-pattern>/GetTopUsersServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetMyMesg</display-name>
		<servlet-name>GetMyMesg</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetMyMesg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMyMesg</servlet-name>
		<url-pattern>/GetMyMesg</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetSearchServlet</display-name>
		<servlet-name>GetSearchServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSearchServlet</servlet-name>
		<url-pattern>/GetSearchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UpdateUserInfoServlet</display-name>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.UpdateUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<url-pattern>/UpdateUserInfoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetUsersInfoServlet</display-name>
		<servlet-name>GetUsersInfoServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetUsersInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsersInfoServlet</servlet-name>
		<url-pattern>/GetUsersInfoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AddFriendServlet</display-name>
		<servlet-name>AddFriendServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.AddFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFriendServlet</servlet-name>
		<url-pattern>/AddFriendServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GetTeamInfoServlet</display-name>
		<servlet-name>GetTeamInfoServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.GetTeamInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTeamInfoServlet</servlet-name>
		<url-pattern>/GetTeamInfoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DeleteTeamServlet</display-name>
		<servlet-name>DeleteTeamServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.DeleteTeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTeamServlet</servlet-name>
		<url-pattern>/DeleteTeamServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DeleteMemberServlet</display-name>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.DeleteMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<url-pattern>/DeleteMemberServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UpdateTeamInfoServlet</display-name>
		<servlet-name>UpdateTeamInfoServlet</servlet-name>
		<servlet-class>org.gr.comeco.servlet.UpdateTeamInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTeamInfoServlet</servlet-name>
		<url-pattern>/UpdateTeamInfoServlet</url-pattern>
	</servlet-mapping>

</web-app>